/* Small devices (tablets, 768px and up) */
@media screen and (max-width:768px) {
    body {
        background-color: dimgray;
    }

    li {
        float: left;
        margin: 10px;
        clear: both;
        text-align: center;
    }

    img {
        width: 100%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:769px) {

body {
    background-color: lightcoral;

}

h1 {
    color: blueviolet;
}

li {
    margin: 10px;
    float: right;
}

img {

    width: 100%;
    clear: both;}

.main {
    float: left;
}

.sub-section {
    float: right;
}


}
.row {
    width:100%;
    background-color: goldenrod;
}

.row:after {
    content: "";
    display: table;
    clear: both;

.column2 {
    width: 50%;
    background-color: peru;
    box-sizing: border-box;
    float: left;
    border-style: solid;
    border-color: black;
}