.jumbotron{

background-image: url(../img/pizza.png);
}

.welcome {
    text-align: center;
    font-size: 75px;
    opacity: .7;
    color: black;
    background-color: white;
}

.optionsRadios {
    color: blue;
}
